[bumpversion]
current_version = 0.1.4

[bumpversion:file:VERSION]
search = {current_version}
replace = {new_version}

[bumpversion:file:cmd/root.go]
search = const Version = "{current_version}"
replace = const Version = "{new_version}"
